.user-data-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .details-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .details-button:hover {
    background-color: #0056b3;
  }
  

  
  .user-item {
    padding: 10px;
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 3px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }
  
  .user-item strong {
    margin-right: 5px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  